body {
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 15px;
    line-height: 2.2em;
    color: #000000;
    margin: 0;
}

header {
    background-color: #3ca177;
    text-transform: uppercase;
}

section,
footer {
    margin: 60px;
}

h1 {
    font-size: 63px;
    color: #ffce00;
    text-transform: uppercase;
    padding: 15px;
    text-shadow: 2px 2px 2px #000000;
    text-align: center;
    background-color: #3ca177;
    margin: 0;
}

table {
    width: 100%;
}

table td {}

table tr:nth-child(even) {
    background-color: rgb(207, 207, 207);
}

table tr:nth-child(odd) {
    background-color: rgb(185, 185, 185);
}

table thead th {
    background-color: #ffce00;
    color: white;
    text-shadow: 1px 1px 1px #000000;
    text-transform: uppercase;
}
