
header {
    background-color: #3293e2;
    text-transform: uppercase;
}

section,
footer {
    margin: 60px;
}

h1 {
    font-size: 63px;
    color: #ffce00;
    text-transform: uppercase;
    padding: 15px;
    text-shadow: 2px 2px 2px #000000;
    text-align: center;
    background-color: #3293e2;
    margin: 0;
}
h4{
    font-size: 190%;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;
}
